.red {
    background: red;
    position: absolute;
    margin: 30px;
    width: 150vh;
    height: 70vh;
}
.white {
    background: white;
    position: relative;
    left: 30px;
    top: 30px;
    width: 95%;
    height: 90%;
    white-space: nowrap;
    overflow: auto;
    display: inline-block;
}
.green {
    background: #00ff00;
    position: relative;
    bottom: 395px;

    width:  30vh;
    height: 90%;

    margin: 20px;
    display: inline-block;
}
.green1 {
    background: #00ff00;
    width:  30vh;
    height: 90%;
    margin: 20px;
    display: inline-block;
    overflow: scroll;

}
.blue {
    background: blue;

    width: 160px;
    height: 80px;
    margin: 10px;

    position: relative;
    left: 10px;

    white-space: nowrap;
    overflow: auto;

    font-size: 11px;

}

h3 {
    font-family: 'Pacifico', cursive;
}
#u {
    font-family: 'Cookie', cursive;
}

.underline {
    text-decoration: underline;}
.bold{
    font-weight: bold;
}